#mainDiv{
  display: grid;
  grid-template-columns: auto auto; 
  grid-template-rows: auto auto auto;
   
} 
#itemDiv{
  display: grid;
  grid-template-columns:auto auto auto auto;
}
#card{
  height: 250px;
  max-width: 200px;
  /* border: none; */
  margin-bottom: 5px;
}

#title{
  font-size: large;
  color: rgb(122, 199, 6);
}
#desc{
  font-size: smaller;
  font-style: italic;
}
#price{
  position: absolute;
  bottom: 5px;
  color: rgb(122, 199, 6);

}
#button{
  float: right;
  font-size: 10px;
  margin-left: 50px;
}