#tableDiv{
    background-color: white;
    max-height: 500px;
    overflow: scroll;
    margin-bottom: 8px;
}
span{
    color: green;
}

#itemButton{
    font-size: 12px;
    margin-top: 4px;
    padding: 2px;
    border-radius: 4px;
    border: 2px solid red; 
    float: right;
}
