.App{
  
    padding: 25px;
    background-size: cover;
    background-image: linear-gradient(rgb(122, 199, 6), yellow);
    height: 100vh;
}
h1{
    text-align: center;
    padding-bottom: 50px;
    color: ivory;
}